<template>
  <section class ="container">
    <div class="GeneralPresentation">
      <h1 class="GeneralPresentation-h1 noSelection">Чему я хочу Вас научить?</h1>
      <div class="GeneralPresentation-content">
        <div class="GeneralPresentation-content-el">
          <div class="GeneralPresentation-content-el__text">
            Как взять под контроль собственные траты.
          </div>
          <div class="GeneralPresentation-content-el__right"></div>
          <div class="GeneralPresentation-content-el__fon"></div>

        </div>
        <div class="GeneralPresentation-content-el">
          <div class="GeneralPresentation-content-el__text">
            Как найти "бутылочное горлышко" своих доходов.
          </div>
          <div class="GeneralPresentation-content-el__right"></div>
          <div class="GeneralPresentation-content-el__fon"></div>

        </div>
        <div class="GeneralPresentation-content-el">
          <div class="GeneralPresentation-content-el__text">
            Как получить большее отказавшись от малого.
          </div>
          <div class="GeneralPresentation-content-el__right"></div>
          <div class="GeneralPresentation-content-el__fon"></div>

        </div>
        <div class="GeneralPresentation-content-el">
          <div class="GeneralPresentation-content-el__text">
            Как избежать стресса, грамотно планируя. 
          </div>
          <div class="GeneralPresentation-content-el__right"></div>
          <div class="GeneralPresentation-content-el__fon"></div>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {

      }
    },
    methods: {

    }
  }
</script>

<style scoped lang="scss">
.GeneralPresentation {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0% 5%;
  color: indigo;
  overflow: hidden;
  // background-color: indigo;

  &-h1 {
    width: 100%;
    font-family: Lobster;
    letter-spacing: 0.1em;
    font-size: 48px;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #fdc926 ;
    z-index: 1;


    & span {
      color: white;
    }
  }
  &-content {
    // font-family: Cambria;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    // background-color: greenyellow;
    width: 80%;
    &-el {
      margin-top: 5%;
      padding: 5%;
      border-radius: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // padding: 15px;
      // background-color: #4c008227;
      background-position: center;
      background-size: cover;

      width: 100%;
      &__text {
        z-index: 1;
        font-size: 38px;
        font-weight: 700;
        text-shadow: #fdc926 1px 1px 10px,  #fdc926 -1px -1px 10px;
        width: 100%;
        text-align: center;
        position: relative;
        padding: 0px 2% 2% 2% ;
        // background-color: aqua;

      }
      &__img {
        z-index: 1;

        img {
          height: 150px;
          border-radius: 15px;
        }
      }
      &__right {
        width: 15%;
        height: 140%;
        position: absolute;
        left: 100%;
        top: -70%;
        // background-color: #fdc926;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 0;
        border-bottom: 2px solid #fdc926 ;
        border-right: 2px solid #fdc926 ;
      }
      &__fon {
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        opacity: 0.5;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
      }

      &:nth-child(1) .GeneralPresentation-content-el__fon {
          background-image: url(https://www.kleo.ru/img/articles/jeQyY.jpg);
      }
      &:nth-child(2) .GeneralPresentation-content-el__fon {
        background-image: url(https://www.kleo.ru/img/articles/KzLPs.jfif);
      }
      &:nth-child(3) .GeneralPresentation-content-el__fon {
        background-image: url(https://www.spletnik.ru/img/__post/04/047708e452327058b9e3eb184fdaa35b_172.jpg);
      }
      &:nth-child(4) .GeneralPresentation-content-el__fon {
        background-image: url(https://www.kleo.ru/img/articles/52iEQ.jpg);
      }

    }
  }

}


</style>
