<template>
  <section class ="container">
    <div class="GeneralLearn">
      <h1 class="GeneralLearn-h1 noSelection">Шаги для достижения цели:</h1>
      <div class="GeneralLearn-content">
        <div class="GeneralLearn-content-el">
          <div class="GeneralLearn-content-el__img reverse">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 204.249 204.249" style="enable-background:new 0 0 204.249 204.249;" xml:space="preserve">
              <g>
                <path style="fill:#e3c31f; transform: rotate(-180deg); transform-origin: 50% 50%;" d="M170.951,191.642c-40.194,0-107.963-11.842-115.017-90.337H0l88.698-88.698l88.698,88.698h-58.221
                  c-1.174,8.779-2.881,34.174,12.848,53.704c13.9,17.25,37.947,26,71.466,26l0.759,7.938
                  C203.676,189.044,190.005,191.642,170.951,191.642z M19.319,93.295h44.074l0.24,3.751c4.259,67,53.89,84.45,98.318,86.401
                  c-15.375-4.778-27.486-12.63-36.211-23.484c-21.616-26.906-14.19-62.043-13.868-63.521l0.694-3.149h45.498L88.698,23.926
                  L19.319,93.295z"/>
              </g>
            </svg>
          </div>

          <div class="GeneralLearn-content-el__text">
            
            <h3>
              1 ШАГ
            </h3>
            <div>
              Примите решение. <br/>Хотите ли ВЫ изменить свою жизнь в лучшую сторону или вас и так все устраивает.
            </div>
          </div>
        </div>
        <div class="GeneralLearn-content-el">
          <div class="GeneralLearn-content-el__text">
            <h3>
              2 ШАГ
            </h3>
            <div>
              Найдите способ. <br/>Ну, тут я уже вам помогу. Вы получите и обучение, и таблицы, и инструкции к ним, и мою поддержку.
            </div>
          </div>
          <div class="GeneralLearn-content-el__img">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 204.249 204.249" style="enable-background:new 0 0 204.249 204.249;" xml:space="preserve">
              <g>
                <path style="fill:#e3c31f; transform: rotate(-180deg); transform-origin: 50% 50%;" d="M170.951,191.642c-40.194,0-107.963-11.842-115.017-90.337H0l88.698-88.698l88.698,88.698h-58.221
                  c-1.174,8.779-2.881,34.174,12.848,53.704c13.9,17.25,37.947,26,71.466,26l0.759,7.938
                  C203.676,189.044,190.005,191.642,170.951,191.642z M19.319,93.295h44.074l0.24,3.751c4.259,67,53.89,84.45,98.318,86.401
                  c-15.375-4.778-27.486-12.63-36.211-23.484c-21.616-26.906-14.19-62.043-13.868-63.521l0.694-3.149h45.498L88.698,23.926
                  L19.319,93.295z"/>
              </g>
            </svg>
          </div>
        </div>
        <div class="GeneralLearn-content-el">
          <div class="GeneralLearn-content-el__img reverse">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 204.249 204.249" style="enable-background:new 0 0 204.249 204.249;" xml:space="preserve">
              <g>
                <path style="fill:#e3c31f; transform: rotate(-180deg); transform-origin: 50% 50%;" d="M170.951,191.642c-40.194,0-107.963-11.842-115.017-90.337H0l88.698-88.698l88.698,88.698h-58.221
                  c-1.174,8.779-2.881,34.174,12.848,53.704c13.9,17.25,37.947,26,71.466,26l0.759,7.938
                  C203.676,189.044,190.005,191.642,170.951,191.642z M19.319,93.295h44.074l0.24,3.751c4.259,67,53.89,84.45,98.318,86.401
                  c-15.375-4.778-27.486-12.63-36.211-23.484c-21.616-26.906-14.19-62.043-13.868-63.521l0.694-3.149h45.498L88.698,23.926
                  L19.319,93.295z"/>
              </g>
            </svg>
          </div>
          <div class="GeneralLearn-content-el__text">
            <h3>
              3 ШАГ
            </h3>
            <div>
              Сделай это. <br/> Да, просто сделай это! Прокручиваем сайт вниз и подключаемся к обучению!.
            </div>
          </div>
        </div>
        <div class="GeneralLearn-content-el">
          <div class="GeneralLearn-content-el__text">
            <h3>
              4 ШАГ
            </h3>
            <div>
              Самое сложное. <br/>Пройди обучение. До конца. Докажи сам себе, что сможешь. Возьми на "слабо". способов много, тем более это займет не так и много времени. 
            </div>
          </div>
          <div class="GeneralLearn-content-el__img">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 204.249 204.249" style="enable-background:new 0 0 204.249 204.249;" xml:space="preserve">
              <g>
                <path style="fill:#e3c31f; transform: rotate(-180deg); transform-origin: 50% 50%;" d="M170.951,191.642c-40.194,0-107.963-11.842-115.017-90.337H0l88.698-88.698l88.698,88.698h-58.221
                  c-1.174,8.779-2.881,34.174,12.848,53.704c13.9,17.25,37.947,26,71.466,26l0.759,7.938
                  C203.676,189.044,190.005,191.642,170.951,191.642z M19.319,93.295h44.074l0.24,3.751c4.259,67,53.89,84.45,98.318,86.401
                  c-15.375-4.778-27.486-12.63-36.211-23.484c-21.616-26.906-14.19-62.043-13.868-63.521l0.694-3.149h45.498L88.698,23.926
                  L19.319,93.295z"/>
              </g>
            </svg>
          </div>
        </div>
        <div class="GeneralLearn-content-el">
          <div class="GeneralLearn-content-el__img reverse">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 204.249 204.249" style="enable-background:new 0 0 204.249 204.249;" xml:space="preserve">
              <g>
                <path style="fill:#e3c31f; transform: rotate(-180deg); transform-origin: 50% 50%;" d="M170.951,191.642c-40.194,0-107.963-11.842-115.017-90.337H0l88.698-88.698l88.698,88.698h-58.221
                  c-1.174,8.779-2.881,34.174,12.848,53.704c13.9,17.25,37.947,26,71.466,26l0.759,7.938
                  C203.676,189.044,190.005,191.642,170.951,191.642z M19.319,93.295h44.074l0.24,3.751c4.259,67,53.89,84.45,98.318,86.401
                  c-15.375-4.778-27.486-12.63-36.211-23.484c-21.616-26.906-14.19-62.043-13.868-63.521l0.694-3.149h45.498L88.698,23.926
                  L19.319,93.295z"/>
              </g>
            </svg>
          </div>

          <div class="GeneralLearn-content-el__text">
            <h3>
              5 ШАГ
            </h3>
            <div>
              Гормональное закрепление. <br/>Да-да. Достигая поставленных целей мозг балует себя порцией дофамина и эндорфинов, которые вызывают чувство счастья и удовлетворения.
            </div>
          </div>
        </div>
        <div class="GeneralLearn-content-el">
          <div class="GeneralLearn-content-el__text">
            <h3>
              6 ШАГ
            </h3>
            <div>
              Время удивлятся. <br/>Удивитесь как это было легко! Может вам понравится и вы захотите что то еще изменить в себе к будущим успехам!
            </div>
          </div>
          <!-- <div class="GeneralLearn-content-el__img reverse">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="519.438px" height="519.438px" viewBox="0 0 519.438 519.438" style="enable-background:new 0 0 519.438 519.438;" xml:space="preserve">
              <g>
                <g>
                  <path style="fill:#fdc926; transform: rotate(-90deg); transform-origin: 50% 50%;" d="M175.041,317.448c2.935-0.83,5.933-1.658,9.067-2.488c9.477-2.545,19.832-5.037,30.872-7.41
                    c5.511-1.105,11.218-2.381,17.038-3.369c2.922-0.529,5.878-1.064,8.862-1.604c2.987-0.463,6-0.93,9.039-1.402
                    c12.204-1.924,24.816-3.301,37.736-4.43c12.843-0.873,26.04-1.598,39.112-1.348c3.269,0.059,6.595,0.016,9.856,0.154
                    c3.266,0.17,6.527,0.346,9.783,0.516c6.606,0.199,12.935,1.121,19.44,1.682c6.423,0.734,12.689,1.832,19.029,2.766
                    c6.117,1.35,12.394,2.424,18.354,3.98c11.943,3.078,23.461,6.705,34.03,11.123c10.661,4.291,20.386,9.32,29.187,14.492
                    c4.274,2.725,8.519,5.275,12.426,7.9c3.762,2.844,7.332,5.539,10.686,8.072c3.517,2.459,6.236,5.297,9.03,7.727
                    c2.757,2.5,5.291,4.799,7.577,6.873c8.445,9.158,13.271,14.393,13.271,14.393s-2.882-6.625-7.922-18.217
                    c-1.524-2.801-3.21-5.9-5.046-9.271c-1.913-3.348-3.728-7.23-6.338-10.867c-2.521-3.773-5.201-7.783-8.029-12.016
                    c-3.048-4.076-6.469-8.213-10.003-12.668c-7.295-8.615-15.826-17.645-25.729-26.322c-9.819-8.816-21.004-17.217-33.106-25.291
                    c-6.046-4.058-12.438-7.647-18.895-11.592c-6.564-3.485-13.257-7.2-20.142-10.539c-6.909-3.149-13.904-6.72-21.074-9.511
                    c-3.592-1.475-7.194-2.953-10.796-4.431c-3.619-1.441-7.271-2.687-10.93-4.036c-14.643-5.429-29.529-9.78-44.337-13.847
                    c-14.792-3.8-29.517-7.203-43.825-9.829c-3.586-0.664-7.145-1.319-10.667-1.971c-3.528-0.566-7.022-1.126-10.48-1.68
                    c-6.943-1.172-13.715-1.992-20.358-2.91c-13.127-1.656-25.6-2.922-37.176-3.804l-0.242-69.456L0,260.327l175.338,142.291
                    L175.041,317.448z"/>
                </g>
              </g>
            </svg>

          </div> -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {

      }
    },
    methods: {

    }
  }
</script>

<style scoped lang="scss">
.GeneralLearn {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  // padding: 0% 5%;
  color: indigo;
  overflow: hidden;
  // background-color: indigo;

  &-h1 {
    width: 100%;
    font-family: Lobster;
    letter-spacing: 0.1em;
    font-size: 48px;
    text-align: center;
    background-color: white;
    margin-bottom: 5%;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    // background-color: greenyellow;
    width: 100%;
    &-el {
      margin-top: 5%;
      // padding: 5%;
      // border-radius: 15px;
      position: relative;
      display: flex;
      flex-direction: row;

      align-items: flex-start;
      justify-content: center;
      // padding: 15px;
      // background-color: #4c008227;
      width: 100%;
      &:last-child .GeneralLearn-content-el__text {
          width: 90%;
        }

      &__text {
        z-index: 3;
        font-size: 24px;
        // font-weight: 700;
        // text-shadow: #fdc926 1px 1px 10px,  #fdc926 -1px -1px 10px;
        width: 60%;
        text-align: center;
        position: relative;
        padding: 10px;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        background-image: url(https://www.raruk.ru/upload/iblock/15b/15b15af821bd7d6efe12c616ccbd0eee.jpg);
        transform: translateY(-35%);


        // background-color: aqua;
        & h3 {
          background-color: white;
          padding: 2%;
          z-index: 11;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          border-bottom: 2px solid #e3c31f;
        }
        & div {
          transform: translateY();
          padding: 2%;
          background-color: white;
          z-index: 11;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }
      &__img {
        z-index: 1;
        width: 20%;
      }
      &__fon {
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        // opacity: 0.5;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        // background-image: url(https://www.raruk.ru/upload/iblock/15b/15b15af821bd7d6efe12c616ccbd0eee.jpg);
        // background-image: url(https://www.raruk.ru/upload/iblock/15b/15b15af821bd7d6efe12c616ccbd0eee.jpg);
        background-image: url(https://bigfoto.name/uploads/posts/2021-10/1635084358_56-bigfoto-name-p-oboi-s-zolotim-ornamentom-80.jpg);

      }
    }
  }

}
.reverse {
  transform: rotateY(180deg);
}


</style>
