<template>
  <header class="GeneralHeader noSelection">
    
    <div class="GeneralHeader-content">
      <!-- <div class="GeneralHeader-logo">
        <img src="@/img/logo/LogoG.png" alt="Логотип сайта">
      </div> -->
      <div class="GeneralHeader-middle">
        <div class="GeneralHeader-middle__img">
          <img src="@/img/text/анна4.png" alt="Меня зовут Анна Абакумовская"/>
        </div>
        <div class="GeneralHeader-middle__foto">
          <img src="@/img/foto/СКнигой1.png" alt="фото Анна Абакумовская"/>
        </div>
        <div class="GeneralHeader-middle__img">
          <img src="@/img/text/консультант2.png" alt="Консультант по личным финансам"/>
        </div>
      </div>
      <div class="GeneralHeader-link">
        <!-- <button> -->
          <a href="https://t.me/finansyvdelo" target="_blank" rel="nofollow noopener noreferrer">
            <img src="@/img/text/втелеграм4.png" alt="в Телеграм"/>

              <!-- В Telegram -->
          </a>
        <!-- </button> -->
        <!-- <button><a href="" > ryjgrf</a></button> -->

      </div>
    </div>
    <div class="GeneralHeader__fon">
      <img src="@/img/fon/fonGeneralHeader1.png" alt="Анна Абакумовская"/>
    </div>
    <div class="GeneralHeader__fon_png">
    </div>

  </header>
</template>

<script>
</script>

<style scoped lang="scss">
.GeneralHeader {
  max-width: 1240px;
  margin: 0 auto;
  width: 100vw;
  position: relative;
  // background-color: blue;
  padding-top: 2%;
  // overflow: hidden;
  &-content {
    // width: 100%;
    // height: 100%;
    // background-color: gold;
    z-index: 99;
  }
  &-logo {
    padding: 2% 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 60%;
      z-index: 1;

    }
  }
  &-middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background-color: violet;
    z-index: 1;
    &__img {
      width: 30%;
      z-index: 1;
      & img {
        // width: 400px;
      }
    }

    &__foto {
      // margin: -15% 0 -15% 0;
      width: 30%;
      z-index: 1;
      & img {
        width: 400px;
      }
    }
  }
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    & a {
      z-index: 1;
    }
  }
  &__fon {
    // max-width: 100vw;
    position: absolute ;
    left: -50%;
    top: -100%;
    width: 200%;
    height: 200%;
    background-color: white;
    border-radius: 50%;
    z-index: 0;
    & img {
      position: absolute;
      // width: 850px;
      bottom: -7%;
      left: 50%;
      translate: -47% 0;
    }

  }
}


</style>
