<template>
  <section class ="container">
    <div class="GeneralDescripcion">
      <h1 class="GeneralDescripcion-h1 noSelection">Давайте познакомимся поближе <br/> <span>с Абакумовской Анной</span></h1>
      <div class="GeneralDescripcion-content">
        <div class="GeneralDescripcion-content-el">
          <div class="GeneralDescripcion-content-el__fon"></div>
          <div class="GeneralDescripcion-content-el__img">
            <img src="@/img/other/6777.jpg" alt="Дипломы">
          </div>

          <div class="GeneralDescripcion-content-el__text">
            Имею высшее техническое и экономическое образования
          </div>
        </div>
        <div class="GeneralDescripcion-content-el">
          <div class="GeneralDescripcion-content-el__fon"></div>

          <div class="GeneralDescripcion-content-el__img">
            <img src="@/img/other/semeyn.jpg" alt="Семейный бюджет">
          </div>

          <div class="GeneralDescripcion-content-el__text">
            Уже много лет веду три семейных бюджета
          </div>
        </div>
        <div class="GeneralDescripcion-content-el">
          <div class="GeneralDescripcion-content-el__fon"></div>

          <div class="GeneralDescripcion-content-el__img">
            <img src="@/img/other/13433.jpg" alt="Семья">
          </div>

          <div class="GeneralDescripcion-content-el__text">
            Воспитываю двоих детей (и мужа  :) )
          </div>
        </div>
        <div class="GeneralDescripcion-content-el">
          <div class="GeneralDescripcion-content-el__fon"></div>

          <div class="GeneralDescripcion-content-el__img">
            <img src="@/img/other/13433.jpg" alt="Дипломы">
          </div>

          <div class="GeneralDescripcion-content-el__text">
            Еще какая нибудь белиберда
          </div>
        </div>

      </div>
      
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {

      }
    },
    methods: {

    }
  }
</script>

<style scoped lang="scss">
.GeneralDescripcion {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: indigo;

  &-h1 {
    font-family: Lobster;
    letter-spacing: 0.1em;
    font-size: 48px;
    text-align: center;
    & span {
      color: white;
    }
  }
  &-content {
    // font-family: Cambria;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    &-el {
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      // background-color: #4c008227;

      width: 44%;
      &__text {
        width: 100%;
        z-index: 1;
        text-align: center;
        // border-top-left-radius: 0px;
        // border-top-right-radius: 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom: 2px solid #fdc926 ;
        border-left: 2px solid #fdc926 ;
        border-right: 2px solid #fdc926 ;
        padding: 0px 2% 2% 2% ;

      }
      &__img {
        z-index: 1;

        img {
          height: 150px;
          border-radius: 15px;
        }
      }
      &__fon {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 40%;
        // background-color: #fdc926;
      }
    }
  }

}

</style>
