<template>
  
  <div class="general">
    <div class="wrapper">
      <general-header/>
      <general-descripcion/>
      <general-presentation/>
      <general-learn/>
    </div>
  </div>
</template>
<script>
import GeneralHeader from "@/components/GeneralHeader.vue";
import GeneralDescripcion from "@/components/GeneralDescripcion.vue";
import GeneralPresentation from "@/components/GeneralPresentation.vue";
import GeneralLearn from "@/components/GeneralLearn.vue";

  export default {
    components: {
      GeneralLearn,
      GeneralHeader,
      GeneralDescripcion,
      GeneralPresentation
    },
    data() {
      return {

      }
    }
  }
</script>


<style lang="scss">
  @import '@/scss/style';
  .general {
    background-color: #dbdbdb;
  }
  .wrapper {
    overflow: hidden;
  }
  .container {
      width: 1240px;
      margin: auto;
      overflow: hidden;
      background-color: white;
      border-radius: 15px;
      padding: 2%;
      margin-top: 2%;
      @media (max-width: 1240px) {
          width: 100vw;
      }
  }

</style>
