
* {
    box-sizing: border-box
}

html {
    font-family: Roboto;
    // font-family: Lobster;
    font-size: 23px;
    line-height: 1.2;
    letter-spacing:0.04em;
}
//Отменяем выделение текста/картинок
.noSelection {
    //Отменяем выделение текста в кнопках
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}
//Убираем стили для ссылок в кнопках
button {
    & a:active, /* активная/посещенная ссылка */
    a:hover,  /* при наведении */
    a {
    text-decoration: none;
    color: inherit;
    }
}


