

html {
}

button {
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: $color-indigo;
    font-weight: 700;
    background-color: $color-gold;
    cursor: pointer;
    border: 2px solid $color-indigo;
    border-radius: 15px;
    outline: 0px solid;
    outline-color: $color-gold;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);  
    &:hover {
        background-color: yellow;
        box-shadow: 0 0 20px $color-indigo;
        outline: 2px solid;

        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        color: $color-indigo;
    }
    &:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}
h1 {
    font-size: 34px;
    // color: $color-gold;
    font-weight: 700;
}
h2 {
    font-size: 34px;
    font-weight: 700;
}
h3 {
    font-size: 28px;
    font-weight: 700;
}
h4 {
    font-size: 28px;
    font-weight: 400;
}
h5 {
    font-size: 24px;
    font-weight: 700;
}

.FontStyleCambria {
    font-family: Cambria;
    letter-spacing:0.1em;

}


